
.launchCard_body{
    height: 20rem !important;
    color: white !important;
}


/* @media (max-width: 1570px) { 
    .launchCard_body{
        height: 17rem !important;
    }
    .launchCard_img{
        height: 17rem !important;
    }

 } */
/* 
 @media (max-width: 1270px) { 
    .launchCard_body{
        height: 19rem !important;
    }
    .launchCard_img{
        height: 19rem !important;
    }

 }

 @media (max-width: 990px) { 
    .launchCard_body{
        height: 15rem !important;
    }
    .launchCard_img{
        height: 15rem !important;
    }

 } */